
<div class="contact">
    <h2>
        Sibiu, George Toparceanu Street, no.44
    </h2>
    <h3> Phone:  +40 7262297</h3>
   
    <h3>Click below to send an email:</h3>
    <email address="camelia.sileanu@yahoo.com" content="Click here"></email>
</div>